.home-blog > .hero > .mask {
  background-position: bottom !important;
}

// .footer-wrapper.footer > span:first-child {
// display: none;
// }

.locked {
  margin: 1rem 0;
  padding: 0.1rem 1.5rem;
  border-radius: 0.4rem;
  background-color: #f0f4f8;

  .title {
    font-weight: bold;
  }
}

.home-blog .home-blog-wrapper .info-wrapper{
  margin-top: 0 !important;
}

// 侧边栏样式
// 左侧侧边栏标题
.sidebar > .sidebar-links > li > a.sidebar-link {
  font-size: 1.5em !important;
  margin-left: -1em;
}
// 右侧文章标题导航栏
a.sidebar-link {
  font-size: 16px !important;
}
.sub-sidebar-wrapper {
  width: 18rem !important;
}
// 左侧边栏标题字体大小样式
.sidebar-heading span{
    font-size: 1.2em;
    font-weight: bold;

}
.sidebar-heading.open span{
    font-weight: bold;
}


// tip,warning,danger容器样式
.custom-block.tip {
    background-color: #d4d4d452 !important;
}
.custom-block.warning {
    background-color: #ffa16d47 !important;
}
.custom-block.danger {
    background-color: #f9b4b457 !important;
}

//自定
.home-blog-wrapper {
  opacity: 0.85 !important;
}

body {
    background-color: #F8F8FF;
}

.fullPic .iconfont {
  color: #fff !important;
}
.fullPic .iconfont .leancloud-visitors-count{
  color: #fff !important;
}

/*body{
  background-image: url(https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=904598672,2322087439&fm=26&gp=0.jpg);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}*/