//$accentColor = #a4aca7; // 主题颜色
//$textColor = #2c3e50; // 文本颜色
//$borderColor = #eaecef; // 边框线颜色
//$codeBgColor = #282c34; // 代码块背景色
$backgroundColor = #ffffff; // 悬浮块背景色

// 颜色
$accentColor = #67cc86

$textColor = #232321
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #5cb85c
$badgeWarningColor = #ffd51e
$badgeErrorColor = #d95376